/* 
.central_header :hover> .MuiSvgIcon-root{
    color: #2e81f4;
    border-bottom: 4px solid #2e81f4;    
    width: 100px;   

}
.central_header :hover> .css-tzssek-MuiSvgIcon-root:hover{
    color: #2e81f4;
    width: 100px;   
    border-bottom: 4px solid #2e81f4;   

}
.central_header :hover> .css-tzssek-MuiSvgIcon-root:hover{
    color: #2e81f4;
    width: 100px;   
    border-bottom: 4px solid #2e81f4;   

}
.central_header :hover> .css-tzssek-MuiSvgIcon-root:hover{
    color: #2e81f4;
    width: 100px;   
    border-bottom: 4px solid #2e81f4;   

}
.central_header :hover> .css-tzssek-MuiSvgIcon-root:hover{
    color: #2e81f4;
    width: 100px;   
    border-bottom: 4px solid #2e81f4;   

} */

